@import '@styles/colors.scss';
@import '@styles/typography.scss';
@import '@styles/media-queries.scss';

@mixin hoverState {
    border-radius: 0.8rem;
    background-color: var(--hover-color, $surface-dark);
    border-color: $white;
    box-shadow: 0.3rem 0.3rem 0 0 $white;
}

.headerComponent {
    padding: 1.6rem 4.8rem;
    display: grid;
    grid-template-columns: 3rem auto 8rem;
    background-color: $surface-dark;
    align-items: center;

    ul {
        display: flex;
    }

    .tabWrapper {
        justify-self: center;
        gap: 2.4rem;

        li {
            padding: 0.6rem 1.8rem;
            font-family: $font-family-secondary;
            font-size: $font-size-xs;
            font-weight: $font-weight-semibold;
            color: $font-inverse-high;
            border: 0.1rem solid transparent;
            cursor: pointer;

            &:hover {
                @include hoverState
            }

            &.active {
                @include hoverState
            }
        }
    }

    .socialWrapper {
        gap: 0.8rem;
    }
}

/* TODO: Is missing the open and close animation menu */
@include sm-viewport {
    .headerComponent {
        position: fixed;
        width: 100%;
        padding: 1.6rem 2.4rem;
        grid-template-columns: 3rem auto 3.6rem;
        align-items: center;
        top: 0;
        box-shadow: 0 0.2rem 1.2rem $fenrir-brand-cotton;

        z-index: 10;

        .sandwichMenu {
            height: 3.6rem;
            grid-column: 3;
            padding: 0.8rem;
            background-color: $fenrir-brand-cotton;
            border-radius: 0.8rem;
            cursor: pointer;
            display: flex;           
            justify-content: center;  
            border: 2px solid $fenrir-brand-dark;  
            outline: 1px solid $fenrir-brand-cotton; 

            .bar {
                height: 0.2rem;
                width: 100%;
                border-radius: 2rem;
                background-color: $fenrir-brand-dark;
            }
        }

        .openedMenuIcon {
            flex-direction: column;
            justify-content: center;
            position: relative;
            .bar1, .bar3 {
                width: 16px;
                position: absolute;
                top: 50%;
                transform-origin: center;
                transform: rotate(45deg) translate(0, -50%);
            }
            .bar3 {
                transform: rotate(135deg) translate(-5%, 0);
            }
            .bar2 {
                display: none;
            }
        }

        .closedMenuIcon {
            flex-direction: column;
            gap: 0.2rem;
        }

        .openedMenu {
            grid-column: span 3;
        }

        .closedMenu {
            display: none;
        }

        .tabWrapper {
            padding: 3.2rem 0;
            flex-direction: column;
          
            li {
                width: 24rem;
                padding: 1.2rem 0;
            }
        }

        .socialWrapper {
            margin-top: 3.2rem;
            gap: 1.6rem;
        }
    }
    
}