@import '@styles/typography.scss';
@import '@styles/colors.scss';
@import '@styles/media-queries.scss';

/* I know that exists a padding notation with 1 line to refer to top and bottom padding but I want to centralize the horizontal padding o the section declaration to if I want to change this at some moment I do this in one place */
@mixin padding_top_bottom ($top, $bottom: null) {
    @if $bottom == null {
        padding-top: $top;
        padding-bottom: $top;
    } @else {
        padding-top: $top;
        padding-bottom: $bottom;
    }
   
}

section {
    padding: 4.8rem;
}

.hero {
    width: 100%;
    @include padding_top_bottom(8.8rem);
    background-color: $bg-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20.4rem;

    .presentationContainer {
        width: 37rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        h1, h3 {
            font-weight: $font-weight-medium;
            letter-spacing: 0.1rem;
            color: $font-inverse-medium; 
            font-family: $font-family-secondary;
            font-size: $font-size-xs;
        }  

        h2 {
            font-size: 3.2rem;
            color: $white;
        }

        button {
            width: min-content;
            margin-top: 3.4rem;
        }
    }
}

.works {
    @include padding_top_bottom(10.4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;

    & > h2:first-of-type {
        font-size: $font-size-xxxl;
        color: $font-high;
    }

    .worksContainer {
        max-width: 103.5rem;
        display: flex;
        flex-direction: column;
        gap: 6.9rem;
    }
}

@include md-viewport {
    .hero {
        gap: 0;
        justify-content: space-between;
        .presentationContainer {
            min-width: 26.5rem;           
        }
    }    
}

@include sm-viewport {
    .hero {
        padding-top: 15.2rem;
        flex-direction: column;
        gap: 12rem;

        .presentationContainer {
            button {
                width: 100%;
            }
        }
    }    
}


